@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Lato:wght@300&family=Montserrat:ital@1&family=Pacifico&family=Rubik&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body{
    min-height:100vh;
    background:linear-gradient(#2b1055,#7597de);
}
#menu{
  z-index: 99999;
  padding: 3px 350px 500px 1150px;
}
#menu-bar{
  width: 45px;
  height: 5px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  z-index: 999;
  /*padding-bottom: 30px 100px;*/
}
.bar{
  height:5px;
  width:100%;
  background-color: #DC052D;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
  z-index: 999;
  float: right;
  
}
#bar1{
  transform: translateY(-4px);
}
#bar3{
  transform: translateY(4px);
}
.nav {
  transition: 0.3s ease;
  display:none;
  z-index:999;
}
.nav ul{
  padding: 0 22px;
  z-index:999;
}
.nav li{
  list-style: none;
  padding: 12px 0;
  z-index:999;
}
.nav li a {
  color:white;
  font-size: 20px;
  text-decoration: none;
  z-index:999;
}
.nav li a:hover{
  font-weight: bold;
  z-index:999;
}
.menu-bg, #menu{
  top:0;
  left: 0;
  position: absolute;
  z-index: 999;
}
.menu-bg {
  z-index:1;
  width:0;
  height:0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle,#dc052d,#dc052d);
  border-radius: 50%;
  transition: 0.3s ease;
  z-index: 999;
}
.change{
  display:block;
}
.change .bar{
  background-color: white;
}
.change #bar1{
  transform: translateY(4px)
  rotateZ(-45deg);
}
.change #bar2{
  opacity: 0;
}
.change #bar3{
  transform:translateY(-6px) rotateZ(45deg);
}
.change-bg{
  width:520px;
  height:460px;
  transform: translate(-60%,-30%);
}
#logo{
 font-size: 50px;
 color: white;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 padding: 10px 100px 10px 500px;
}
header{
    position:absolute;
    top:0;
    Left:0;
    width:100%;
    padding: 30px 100px;
    display:flex;
    justify-content:space-between;
    align-items:center;

}
header .logo
{
    color:#fff;
    font-weight:700;
    text-decoration:none;
    font-size: 2em;
    text-transform:uppercase;
    Letter-spacing: 2px;
}
header ul{
    display:flex;
    justify-content:center;
    align-items:center;
}
header ul li{
    list-style:none;
    margin-left:20px;
}
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color:#2b1055;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}
section img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon{
    mix-blend-mode: screen;
}
section img#mountains_front
{
    z-index:10;
}
#text{
position:absolute;
color:#fff;
white-space: nowrap;
font-size: 7.5vh;
z-index:9;

}
#btn{
    text-decoration:none ;
    display:inline-block;
    margin-top: 200px;
    margin-right: 150px;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color:#2b1055;
    font-size: 1.5em;
    z-index:9;
    transform:translate(100px);
}
.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

.sec p {
  font-size: 1em;
  color: #fff;
}
#p1{
 background-color:#fff;
  padding: 20px;
  margin:10px 10px 10px 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: solid;
  z-index:0;
  border-radius: 3vh;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   -moz-box-shadow:10px 10px 25px yellow;
  -webkit-box-shadow: 10px 10px 25px yellow;
  box-shadow: 10px 10px 25px yellow;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("images/3.jpg");
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-position: center;

  }
  }
 #p1::before{
    content:"";
    position: absolute;
    width:0;
    height:0;
    z-index:0;
    background: #fff;
  }
  #p2{
    background-color:#fff;
    padding: 20px;
    margin:10px 10px 10px 10px;
    text-align: center;
    text-decoration: solid;
    z-index:0;
    border-radius: 3vh;
      font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -moz-box-shadow:10px 10px 25px yellow;
  -webkit-box-shadow: 10px 10px 25px yellow;
  box-shadow: 10px 10px 25px yellow;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("images/portfolio.jpg");
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-position: center;
  }
  #p2::before{
    content:"";
    position: absolute;
    width:0;
    height:0;
    z-index:0;
    background: #fff;
  }
  #p3{
    background-color:#fff;
    padding: 20px;
    margin:10px 10px 10px 10px;
    text-align: center;
    text-decoration: solid;
    z-index:0;
    border-radius: 3vh;
      font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   -moz-box-shadow:10px 10px 25px yellow;
  -webkit-box-shadow: 10px 10px 25px yellow;
  box-shadow: 10px 10px 25px yellow;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("images/fraud.png");
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-position: center;
  }
 #p3::before{
    content:"";
    position: absolute;
    width:0;
    height:0;
    z-index:0;
    background: #fff;
  }
  #p4{
    background-color:#fff;
    padding: 20px;
    margin:10px 10px 10px 10px;
    text-align: center;
    text-decoration: solid;
    z-index:0;
    border-radius: 3vh;
      font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -moz-box-shadow:10px 10px 25px yellow;
  -webkit-box-shadow: 10px 10px 25px yellow;
  box-shadow: 10px 10px 25px yellow;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("images/chronic.jpg");
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-position: center;

  }
#p4::before{
    content:"";
    position: absolute;
    width:0;
    height:0;
    z-index:0;
    background: #fff;
  }
 h3{
    color: #F6F7A9;
    font-size: medium;
    font-size: 27px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #54b3d6;
      border-radius: 2vh;
    /*color:#54b3d6;*/
    margin: 0 - .25rem;
    padding: 0 .25rem;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out; 
}
h3:hover{
     -webkit-transform: scale(1.15);
  -ms-transform:scale(1.15);
  transform:scale(1.15);
  box-shadow: inset 857px  0 0 #A782EC;
  color: white;
}

  
